body
  display: flex
  flex-direction: column
  background: $color-background
  height: 100%
  background-repeat: no-repeat
  background-attachment: fixed
  color: #FFFFFF

html
  font-family: $font-family-base
  font-style: normal

.main
  flex: 1 0 auto

.container
  width: 100%
  max-width: 1303px
  padding: 0 25px
  margin: 0 auto

.title
  font-family: "MullerExtraBold"
  font-size: 63px
  color: $color-text-accent
  line-height: 109.5%
  @include max-w(430)
    font-size: 40px

.hidden
  display: none

.text
  font-family: "Muller"
  font-size: 19.5px
  color: $color-text-base
  @include max-w(430)
    font-size: 14px

.text--accent
  color: $color-text-accent

// .decor-pizza
//   max-width: 252px
//   max-height: 252px
//   position: absolute
//   top: 0
//   left: 100%
//   background: url('../images/pizza.png')

// .decor-fries
//   max-width: 212px
//   max-height: 226px
//   position: absolute
//   bottom: 0
//   left: 0
//   background: url('../images/fries.png')

  